* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}

.contenu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 127, 255, 0.473);
    flex-direction: column;
    gap: 20px;
    width: 70vw;
    border-radius: 20px;
    padding: 20px;
}

.h1-header {
    color: purple;
}

form {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.input-text {
    padding: 10px;
    border: none;
    outline: 3px solid purple;
    border-radius: 20px;
    width: 60%;
}

.btn-form {
    padding: 10px;
    border: 3px solid purple;
    background-color: purple;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 5px;
    width: 30%;
}

/* ********************************** */
.contiener {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main {
    background-color: rgba(165, 127, 255, 0.473);
    border-radius: 10px;
    width: 70vw;
}

.element {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.contenu-element {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    padding: 10px;
    margin: 5px 10px;
    background-color: purple;
    color: white;
    width: 100%;
    border-radius: 20px;
}

.paragraphe {
    width: 30vw;
}

.icone {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.valider {
    color: greenyellow;
    cursor: pointer;
}

.modifier {
    color: rgb(118, 191, 247);
    cursor: pointer;
}

.suprimer {
    color: rgb(255, 47, 47);
    cursor: pointer;
}

.greeen {
    background-color: rgb(85, 255, 47);

}

/* ***************************************************************** */
.hestorique {
    padding: 10px;
    display: none;
}

.hestorique-header {
    background-color: gold;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.shoxbox {
    display: none;
}

.show {
    display: block;
}

/* ************************ todo list 2***************************** */
.div_select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.do_select {
    border-radius: 10px;
    background-color: rgba(165, 127, 255, 0.473);
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    outline: none;

}

.btn-do_select {
    border-radius: 5px;
    background-color: rgba(165, 127, 255, 0.473);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.etat {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 90vw;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30vw;
    background-color: rgba(165, 127, 255, 0.473);
    border-radius: 20px;
    padding: 10px;
}

.box_header {
    background-color: aliceblue;
    padding: 20px 40px;
    border-radius: 20px;
    color: purple;
    text-align: center;
    margin: 10px;
}

.box_main {
    background-color: aliceblue;
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
}

.todoV {
    background-color: rgba(128, 0, 128, 0.631);

}

.doneV {
    background-color: rgba(5, 99, 214, 0.8);

}

.dowingV {
    background-color: rgba(128, 0, 128, 0.804);

}


/* ************************ end todo list 2***************************** */






@media (max-width: 426px) {
    .box {
        width: 38vw;

    }
    .box_main{
        font-size: 1px;
    }

    .main {
        width: 90vw;

    }

    .contenu-element {
        font-size: 16px;

    }
    .paragraphe{
        width: 20vw;
    }

    .icone {
        font-size: 18px;
        width: 40vw;

    }
}